<!DOCTYPE html>
<html lang="en">

<head>
  <title>Scott James Contracts</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Performs options contract calculations">
  <meta name="theme-color" content="#444444" />

  <!-- Apple safari PWA meta tag for full screen when added to homepage -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- Android/Chrome PWA meta tag for full screen when added to homepage -->
  <meta name="mobile-web-app-capable" content="yes" />

  <!-- Path to manifest.json -->
  <link 
    rel="manifest" 
    href="{{ url_for('static', filename='manifest.json') }}"
  />

  <!-- App icon for ios -->
  <link 
    rel="apple-touch-icon" 
    href="{{ url_for('static', filename='images/icons/Logo@512.png') }}" 
  />

  <!-- Favicon  -->
  <link 
    rel="shortcut icon" 
    type="image/jpg" 
    href="{{ url_for('static', filename='favicon.ico') }}" 
  />

  <!-- Bootstrap css -->
  <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css"
    integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" 
    crossorigin="anonymous" 
  />

  <!-- font-awesome css -->
  <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" 
  />

  <!-- Google font -->
  <link 
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap" 
    rel="stylesheet" 
  />

  <!-- Our personal custom css rules  -->
  <link 
    rel="stylesheet" 
    type="text/css" 
    href="{{ url_for('static', filename='css/styles.css')}}" 
  />

  <!-- Our personal javascript files -->
  <script 
    defer 
    type="text/javascript" 
    src="{{ url_for('static', filename='js/aboutus.js') }}">
  </script>
  <script 
    defer 
    type="text/javascript" 
    src="{{ url_for('static', filename='js/loader.js') }}">
  </script>
  
  <!-- Bootstrap JS and jQuery -->
  <script 
    defer 
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous">
  </script>
  <script 
    defer 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous">
  </script>
</head>
<body>
  <!-- Page header -->
  <header class="mb-4">
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">About us</h5>
          <p class="text-muted">
            Using yahoo finance we fetch the latest data available on a stock ticker selected by the user. The user is then prompted to select a contract date. Using the historical data of the ticker and the bounds of the option contract we calculate an appropriate strike price for that contract.
          </p>
          <h5 class="text-white h4">Contact us</h5>
          <!-- Message sent alert -->
          <div id="messageSentFlash" class="text-center m-5">
            <p>Your message has been sent</p>
          </div>
          <form
            class="needs-validation mb-5"
            id="contactUs"
            novalidate
            method="POST"
          >
            <div class="form-group">
              <label for="Email1">Return Email Address</label>
              <input
                type="email"
                class="form-control"
                id="InputEmail1"
                name="return-email"
                aria-describedby="emailHelp"
                placeholder="Enter return email here..."
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                required
              />
              <div id="InputEmail1" class="invalid-feedback">
                Please provide a valid email address.
              </div>
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="form-group">
              <label for="emailSubject mt-2">Email Subject</label>
              <input
                type="text"
                class="form-control"
                id="emailSubject"
                name="subject"
                aria-describedby="subjectHelp"
                placeholder="Enter email subject here..."
                required
              />
              <div id="emailSubject" class="invalid-feedback">
                Please provide email subject
              </div>
            </div>
            <div class="form-group">
              <label class="mt-2" for="emailMessage">Message Body</label>
              <textarea
                class="form-control mr-sm-2"
                id="emailMessage"
                name="message-body"
                type="email"
                placeholder="Message here..."
                aria-label="Search"
                required
              ></textarea>
              <div id="emailMessage" class="invalid-feedback">
                Message body can not be empty.
              </div>
            </div>
            <button
              class="btn btn-secondary btn-block my-2 my-sm-0"
              id="emailSubmit"
              name="contact-us"
              type="submit"
            >
              Email us
            </button>
          </form>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <img 
            src="{{url_for('static', filename='images/logo/Logo@512.png')}}"
            id="header-logo" 
            alt="Scott James Logo" 
            role="presentation" 
        />
        <h5 id="header-text">Strike price calculator</h5>
        <button 
          class="navbar-toggler" 
          type="button"
          data-toggle="collapse"   
          data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" 
          aria-expanded="false" 
          aria-label="Toggle navigation"
        >
          <span 
            class="fa fa-address-card-o text-secondary" 
            role="presentation">
          </span>
        </button>
      </nav>
    </div>
  </header>
  <!-- The container for our bootstrap body layout -->
  <div class="container">
    <!-- Contract generator ticker input form -->
    <form name="input" autocomplete="off" method="POST">
      <div class="form-group">
        <label for="ticker-input">Enter ticker to generate contract</label>
        <input 
          id="ticker-input" 
          name="ticker_input" 
          required class="form-control" 
          aria-label="Stock Tickers"
          aria-required="true" 
          aria-invalid="true" 
          aria-describedby="text only" 
          tabindex="1" 
        />
        <input id="submit" required="required" type="submit" tabindex="2" class="btn btn-success btn-block mt-2" />
    </form>
  </div>
  <!-- Loading animation to show when loading flask data -->
  <div id="loader" class="text-center text-success m-5">
    <div class="spinner-grow" style="width: 3rem; height: 3rem" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  {% if invalid_ticker %}
  <div class="card mb-2">
    <div class="card-header">
      Invalid ticker
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{invalid_ticker}}</p>
        <footer class="blockquote-footer">Thank you</footer>
      </blockquote>
    </div>
  </div>
  {% endif %}
  <div class="card text-center text-muted d-flex flex-column h-100">
    <div class="card-header">Getting started</div>
    <div class="cb-1 card-body justify-content-center flex-grow-1">
      <p class="card-text">
        1) Enter a valid ticker and submit.<br><br>
        2) Choose a contract expiration date.<br><br>
        3) Review you custom stock options strike price.
      </p>
      <a class="btn btn-social-icon bg-secondary btn-lg btn-twitter text-muted" href="https://www.facebook.com/">
        <span class="fa fa-facebook" role="presentation"></span>
      </a>
      <a class="btn btn-social-icon bg-secondary btn-lg btn-instagram text-muted" href="https://www.instagram.com/">
        <span class="fa fa-instagram" role="presentation"></span>
      </a>
      <a class="btn btn-social-icon bg-secondary btn-lg btn-instagram text-muted" href="https://twitter.com/">
        <span class="fa fa-twitter" role="presentation"></span>
      </a>
      <a class="btn btn-social-icon bg-secondary btn-lg btn-youtube text-muted" href="https://www.reddit.com/">
        <span class="fa fa-reddit" role="presentation"></span>
      </a>
      <p id="disclaimer" class="mt-4 mb-5">
        <em>
          Disclaimer: This web app references an opinion and is for
          information purposes only. It is not intended to be investment
          advice. Seek a duly licensed professional for investment advice
        </em>
      </p>
    </div>
  </div>
  </div>
  <!-- closing bootstrap container -->
</body>

</html>